{% extends "base.html" %}
{% block content %}

          <h1>List of People</h1>
            <div>
              <table>
                <thead class="text-capitalize">
                  <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Hair</th>
                    <th>Eyes</th>

                  </tr>
                </thead>
                <hr>
                <tbody>
                 {% for person in data %}
                 <tr>
                   <td>{{person.name}}</td>
                   <td>{{person.age}}</td>
                   <td>{{person.height}}</td>
                   <td>{{person.weight}}</td>
                   <td>{{person.hair}}</td>
                   <td>{{person.eyes}}</td>
                 </tr>
                 {% endfor %}
               </tbody>
              </table>
           </div>
           <hr>
          {{ message }}
  {% endblock %}
